// Палитра цветов
$cl-white: #fff;
$cl-black: #1d1d1f;

// Контрольные точки
$xs: 0;
$sm: 576px;
$md: 768px; // mobile
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;

// Шрифты
$font_family: "Gilroy", Helvetica, Arial, sans-serif;
$font_size: 16px;
$line_height: 1.5;

// Базовые настройки
$rem: 8px; // размер модульной сетки
$background: $cl-white; // фон страницы
$color: $cl-black; // цвет текста
$heading-color: $cl-black; // цвет заголовков
$min-width: 320px; // минимальная ширина окна
$font-size: 2rem; // размер текста на десктопе
$font-size-sm: 14px; // размер текста на мобилках
$line-height: 2rem; // высота строки
$p-margin: 2rem; // отступы после абзацев
$container-width: 1200px; // макс. шиирина контейнера
$container-padding: 5rem; // отступы контейнера на десктопе
$container-padding-sm: 2.5rem; // отступы контейнера на мобилке