include vars
include mixins
include ../blocks/_blocks

block vars

doctype html
html(lang="ru")
  include head
  body
    .page
      include header
      main.page__main
        block body
      include footer

    script(src="assets/js/main.min.js") 
    block scripts